.create-challenge-container {
    background-color: #000;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.card {
    background-color: white;
    border: 1px dashed #000;
    color: black;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.field-group {
    margin-bottom: 15px;
}

.field-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.field-group input, .field-group textarea, .field-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    align-self: center;
}

.submit-btn:hover {
    background-color: #161616;
}
