.create-challenge-container {
    background-color: #000;
    color: white;
    height: 78vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 43%;
    overflow-y: scroll;
}

.card {
    background-color: #000;
    border: 1px solid #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1px;
}

.field-group {
    margin-bottom: 15px;
}

.field-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.field-group input, .field-group textarea, .field-group select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
}

.submit-btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 93%;
    align-items: center;
    margin-top: 20px;
    align-self: center;
}

.submit-btn:hover {
    background-color: #999;
}

.sidebar {
    width: 12%;
    background-color: #fff; /* Dark gray */
    border-radius: 10px;
    color: #000;
    height: 78vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    transition: all 0.3s ease;
    text-wrap: nowrap;
}

.sidebar:hover {
    width: 12%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    left: 0;
    position: relative;
}

.sidebar ul li {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.sidebar ul li:hover {
    background-color: #c5c5c5; /* Slightly lighter on hover */
}