.solved-data {
    border-radius: 10px;
    align-items: center;
    padding: 5px;
}

.solved-data-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-div {
    border: 1px solid #333;
    padding: 30px;
    border-radius: 15px;
    width: 23%;
    text-align: center;
}

.graph-data {
    text-align: center;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    align-items: center;
}

.line-graph-data {
    text-align: center;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 15px;
    height: 56%;
    align-items: center;
}

.recent {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 15px;
    min-height: 20%;
}

.recent p {
    margin-left: 20px;
}