.solved-data {
    border-radius: 10px;
    align-items: center;
    padding: 5px;
}

.solved-data-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-div {
    background-color: #080808;
    border: 1px solid white;
    padding: 30px;
    border-radius: 15px;
    width: 23%;
    text-align: center;
}

.graph-data {
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    align-items: center;
}

.recent {
    padding: 5px;
    border: 1px solid white;
    border-radius: 15px;
}