.home-name-default {
    height: 40vh;
    width: 50%;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-name {
    height: 40vh;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-name h1 {

}

.home-name-default p {
    text-align: center;
    color: gray;
}

.brackets {
    background-color: white;
    border-radius: 50%;
    color: black;
    text-align: center;
    width: 90px;
}

.room-div{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    width: 650px;
}

.room-div p {
    text-align: center;
    color: #7d7d7d;
}

.new-room, .join-room {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #090909;
    color: white;
    min-height: 300px;
    width: 42%;
    transition: all 0.3s ease;
}

.new-room:hover, .join-room:hover {
    transform: scale(1.05);
}

.new-room button, .join-room button {
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    background-color: #242424;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-room button:hover, .join-room button:hover {
    background-color: #333;
}

.join-room input, .new-room input{
    padding: 15px;
    border-radius: 15px;
    background-color: #242424;
    border: none;
    color: white;
}

.vl {
    border-left: 2px solid #242424;
    height: 600px;
    position: absolute;
    left: 58%;
    margin-left: -3px;
}

.joined {
    width: 30%;
    margin-right: 100px;
    border-radius: 30px;
    border: 1px groove #7d7d7d;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
    padding: 25px;
    color: white;
    background-color: #090909;
}

.room-card {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    border-radius: 25px;
    margin-top: 15px;
}

.room-card p {
    color: #7d7d7d;
}

.room-card h1{
    transition: all 0.3s ease;
    cursor: pointer;
}

.room-card h1:hover {
    transform: translateX(5px);
}

.main {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
  background: #292929;
}

::-webkit-scrollbar-thumb {
  background-color: #7d7d7d;
  border-radius: 10px;
}