.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.signup-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px groove #242424;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: auto;
  padding: 35px;
  border-radius: 25px;
  -webkit-box-shadow: -12px 17px 25px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 17px 25px -12px rgba(0,0,0,0.75);
  box-shadow: -12px 17px 25px -12px rgba(0,0,0,0.75);
  background-color: white;
}

.signup-ul {
  margin: auto;
  border: 1px solid;
  margin-left: 0;
}

.signup-ul li {
  list-style: none;
  margin: auto;
}

.inputBox {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.signup-btn {
  background-color: #000;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius:10px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration-style: double;
  color: white;
  font-size: 1.3em;
}

.navbar a {
  padding-right: 15px;
}

.nav-ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding-right: 40px;
  background: #000;
  padding: 10px;
  margin: auto;
}

.nav-ul li {
  padding: 15px;
  color: black;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
